/* 框架样式 */

.el-header,
.el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-tlm-main {
  color: #333;
  text-align: left;
}
.el-cascader__tags .el-tag > span {
  flex: auto;
}
.el-tm-main {
  color: #333;
  padding: 0;
}

.el-container {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

/* elm滚动条样式 */

.el-scrollbar__wrap.default-scrollbar__wrap {
  overflow-x: hidden;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

/* detail页面通用样式 */

.icon-cursor {
  cursor: pointer;
  /* margin-left: 10px; */
}
@media screen and(-ms-high-contrast:active), (-ms-high-contrast: none) {
  /*兼容IE11*/
  .el-cascader-node {
    min-width: 275px;
  }
}

.formstyle {
  background: whitesmoke;
}
.icon-cursor:hover {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    color: red;
  }
}

.content-style {
  border: 1px solid #ffffff;
  padding-bottom: 20px;
}

.content-style:hover {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

p {
  cursor: pointer;
}

.content-style .content-style-i {
  display: none;
}

.content-style:hover .content-style-i {
  display: inline;
}

.file-style {
  border-bottom: 1px solid #e5e9f2;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.file-style:last-child {
  border-bottom: 1px solid #ffffff;
}

.file-style:last-child:hover {
  border-bottom: 1px solid #e5e9f2;
}

.label-style {
  width: 65px;
  line-height: 0px;
  display: inline-block;
  text-align: right;
}
.zi6 {
  width: 96px;
}

.label-style:after {
  content: " ";
  display: inline-block;
  width: 100%;
  line-height: 0px;
}

/* el-form-item-label自动对齐样式 */

.el-form-item__label {
  height: 40px;
  position: relative;
}

.el-form-item__label:before {
  position: absolute;
  left: -10px;
}

.el-form-item__label:after {
  content: " ";
  display: inline-block;
  width: 100%;
  line-height: 0px;
}

/* 查询分割线 */

.searchform .el-divider--horizontal {
  margin: 1px 0 20px 0;
}

.el-select,
.el-cascader {
  width: 100%;
}
.label-span-style {
  display: inline-block;
  width: calc(100% - 145px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  top: 4px;
}

.el-col-21 .el-button span {
  line-height: 16px;
}
.el-cascader-node__postfix {
  top: 8px;
}
pre {
  white-space: pre-wrap;
  line-height: 26px;
  font-size: 16px;
  font-family: "";
}
